* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-col {
    flex-direction: column;
}

.just-cont-betw {
    justify-content: space-between;
}

.p-10 {
    padding: 10px;
}

.just-cont-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}