.square_3 {
    width: 800px;
    height: 800px;
    background: red;
    margin-top: 20px;
    row-gap: 10px;
}

.header_1, .header_2 {
    background: blue;
    min-height: 50px;
}

.main {
    background: deeppink;
    overflow-y: scroll;

}

.menu_1 {
    overflow-x: scroll;
    flex: 0 1 auto;
    min-width: 250px;
    margin-right: 10px;
    background: greenyellow;
}

.content_1 {
    min-width: 250px;
    overflow-x: auto;
    background: greenyellow;
    margin-right: 10px;
    height: 450px;


}

.menu_1-item {
    min-height: 150px;
    background-color: red;
    margin-bottom: 10px;
    padding: 10px;
}
