
.square_2 {
    width: 800px;
    height: 800px;
    background: red;
    margin-top: 20px;
    row-gap: 10px;
}

header {
    min-height: 150px;
    background: rebeccapurple;
    column-gap: 10px;
    flex: 1 0 auto;
    overflow-x: auto;
}

.menu {
    flex: 1 0 auto;
    max-height: calc(100% - 150px);


}

.l-menu {
    background: deeppink;
    overflow-y: auto;
    flex: 0 0 250px;
    margin-right: 10px;
}

.content {
    background: blue;
    flex-grow: 2;
    flex-shrink: 0;
    width: auto;
    min-width: 250px;
    overflow-x: auto;
}

.l-menu .menu-item {
    min-height: 150px;
    background-color: yellow;
    margin-bottom: 10px;
    padding: 10px;
}

.header-item {
    padding: 10px;
    width: 150px;
    background-color: yellow;
    flex-shrink: 0;
}