
.square_1 {
    width: 800px;
    height: 800px;
    background: red;
}

.pink_sq {
    width: 250px;
    height: 250px;
    background: deeppink;
}

.green_sq {
    width: 90px;
    height: 90px;
    background: chartreuse;
}

.blue_sq {
    width: 150px;
    height: 150px;
    background: blue;
}
